*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   letter-spacing: 0.7px;
   font-size: 25px;
}

hr {
   border: 0.5px solid #eee; 
}

.container {
   width: 80%;
   margin: auto;
}

.top {
   display: flex;
   justify-content: end;
   text-align: end;
}

.top ul{
   display: flex;
}

.top li{
   list-style-type: none;
   padding: 10px 20px 10px 20px;
   margin: 10px;
}

.top a {
   text-decoration: none;
   color: #000;
   font-size: 30px;
}

.top li:hover {
   background-color: #ddd;
   border-radius: 10px;
}

.main {
   display: flex;
   margin-top: 80px;
}

.personal-informations {
   margin-right: 10px;
   background-color: rgb(240, 240, 240);
   border-radius: 20px;
}

.personal-img {
   text-align: center;
   margin-top: 30px;
   width: 100%;
}


.personal-informations img {
   border-radius: 600px;
   margin-left: 20px;
   margin-right: 20px;
}

.personal-data h1 {
   width: fit-content;
   margin: auto;
   margin-bottom: 10px;
   margin-top: 20px;
   font-size: 35px;
   padding-left: 10px;
   font-weight: bold;
}

.personal-informations hr {
   border: 1px solid #ddd;
   margin-left: 30px;
   margin-right: 30px;
}

.personal-informations h2 {
   margin-top: 20px;
   font-size: 30px;
   margin-left: 30px;
   font-weight: bold;
   
}

.choice-project {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   margin-left: 30px;
}

.choice-project a {
   text-decoration: none;
   color: #000;
   margin-bottom: 15px;
}

.projects {
   background-color: rgb(240, 240, 240);
   border-radius: 20px;
   flex: 1;
}

.projects h2 {
   margin-top: 30px;
   margin-left: 30px;
   margin-bottom: 20px;
   font-size: 40px;
}

.project {
   height: 70vh;
   text-align: center;
}

.project iframe {
   border: 1px solid black;
   border-radius: 20px;
   position: relative;
   background-color: #fff;
}